# IDE и пользовательские настройки
.vs/
.vscode/
*.user
*.userprefs
CMakeLists.txt.user

# Папки сборки (результаты компиляции)
/[Oo]ut/
/[Bb]uild/
/build-*/

# Скомпилированные исполняемые приложения в корне
/client_app
/server_app
*.exe
*.app

# Файлы объектного кода и кэш CMake
*.obj
*.o
*.pdb
*.ilk
*.idb
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
Server/includePostgre/